.animate-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform: translate3d(0,0,0);
  backface-visibility: hidden;
  perspective: 1000;
}

.animate-slide.ng-hide-add,
.animate-slide.ng-hide-remove {
  display: block!important;
}

.animate-slide.ng-hide-remove.ng-hide-remove-active {
  animation: 0.5s slideInDown;
}

.animate-slide.ng-hide-add.ng-hide-add-active {
  animation: 0.5s slideOutUp;
}

@keyframes slideOutUp {
  0% { height: 100%; }
  100% { height: 0; }
}

@keyframes slideInDown {
  0% { height: 0; }
  100% { height: 100%; }
}

@keyframes bounce {
  from { transform: scale(1, 1); }
  20% { transform: scale(0.9, 0.9); }
  50% { transform: scale(1, 1); }
  80% { transform: scale(1.1, 1.1); }
  to { transform: scale(1, 1); }
}
