<div class="schedule">
  <span class="todo-icon" ng-click="$ctrl.toggleTodo()">{{$ctrl.todoIcon}}</span>
  <calendar on-select="$ctrl.select(day)"></calendar>
  <todo date="$ctrl.date" tasks="$ctrl.tasks" on-create="$ctrl.createTask(task)" ng-show="$ctrl.showTodo" class="animate-slide"></todo>
</div>