.schedule {
  margin: 400px;
  position: relative;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.schedule button {
  background-color: whitesmoke;
  border: 1px solid #bbb;
  text-align: center;
  transition-duration: 300ms;
}

.schedule button:hover {
  cursor: pointer;
  background-color: #ccc;
  border-color: #aaa;
}

.schedule button:active {
  animation: bounce 200ms;
}

.schedule input {
  border: 1px solid #ccc;
  padding: 5px;
  transition-duration: 300ms;
}

.schedule input:focus {
  border-color: #48d;
}

.schedule .icon {
  width: 29px;
  height: 29px;
}

.schedule .todo-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 9999;
  text-align: center;
  transition-duration: 300ms;
}

.schedule .todo-icon:hover {
  cursor: pointer;
  background-color: #ddd;
  border-color: #bbb;
  border-radius: 100%;
}

.schedule .todo-icon:active {
  animation: bounce 200ms;
}
