.calendar {
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 2px;
}

.calendar-controllers, .calendar-title {
  display: inline-block;
}

.calendar-selected-month, .calendar-selected-year {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
}

.calendar-days {
  text-align: center;
}

.calendar-day-month {
  width: 30px;
  height: 30px;
  transition-duration: 300ms;
}

.calendar-day-month:hover {
  cursor: pointer;
  background-color: #ddd;
  border-color: #bbb;
  border-radius: 100%;
}

.calendar-day-month:active {
  animation: bounce 200ms;
}

.calendar-day-month.today {
  color: white;
  background-color: #5c5;
  border-radius: 100%;
}

.calendar-day-month.active {
  color: white;
  background-color: #48d;
  border-radius: 100%;
}
