<div class="calendar">
  <div class="calendar-header">
    <div class="calendar-controllers">
      <button ng-click="$ctrl.previousMonth($ctrl.date)" class="icon">&lt;</button>
      <button ng-click="$ctrl.nextMonth($ctrl.date)" class="icon">&gt;</button>
    </div>
    <div class="calendar-title">
      <h1 class="calendar-selected-month">{{$ctrl.selectedMonthName}}</h1>
      <h1 class="calendar-selected-year">{{$ctrl.selectedYear}}</h1>
    </div>
  </div>
  <div class="calendar-body">
    <table class="calendar-days">
      <thead class="calendar-days-week">
        <tr>
          <td>Dom</td>
          <td>Seg</td>
          <td>Ter</td>
          <td>Qua</td>
          <td>Qui</td>
          <td>Sex</td>
          <td>Sab</td>
        </tr>
      </thead>
      <tbody class="calendar-days-month">
        <tr ng-repeat="week in $ctrl.weeks">
          <td ng-repeat="day in week" class="calendar-day-month" ng-class="[day.todayCss, day.activeCss]" ng-click="$ctrl.select(day)">{{day.date.getDate()}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>