.task-container {
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #bbb;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: #ffffffee;
  overflow-y: auto;
}

.todo-date {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
}

.task-input-group {
  margin-top: 7px;
  text-align: center;
}

.task-input-group input {
  width: 80%;
}
