<div class="task-container">
  <h1 class="todo-date">{{$ctrl.date | date}}</h1>

  <form ng-submit="$ctrl.create($ctrl.task)" class="task-form">
    <div class="task-input-group">
      <input type="text" ng-model="$ctrl.task.description" placeholder="Nova tarefa" />
      <button class="icon">+</button>
    </div>
  </form>

  <ul class="task-list" ng-show="$ctrl.tasks.length">
    <li ng-repeat="task in $ctrl.tasks" class="task">
      <label>
        <input type="checkbox" ng-model="task.completed" /> {{task.description}}
      </label>
    </li>
  </ul>
</div>